<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Bloquear indexación -->
    <meta name="robots" content="noindex, nofollow" />
    
    <!-- SEO básico -->
    <title>Turin.dev</title>
    <meta name="description" content="Turin.dev - Proyecto de desarrollo con Astro y TailwindCSS." />
	<meta name="theme-color" content="#000000" />
  </head>
  <body class="bg-zinc-950 text-white min-h-screen">
    <slot />
    <script src="../assets/js/main.js"></script>
  </body>
</html>

<style>
  body {
    background-color: #09090b; /* zinc-950 */
    color: #ffffff;
    min-height: 100vh;
  }
</style>
