<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Bloquear indexación -->
    <meta name="robots" content="noindex, nofollow" />
    
    <!-- SEO básico -->
    <title>Turin.dev | Agencia de Desarrollo Web Profesional</title>
	<meta name="description" content="En Turin.dev creamos sitios web modernos, rápidos y optimizados. Agencia de desarrollo web con soluciones en diseño, frontend, backend y SEO." />
	<!-- Open Graph (Facebook, LinkedIn, WhatsApp) -->
	<meta property="og:title" content="Turin.dev | Agencia de Desarrollo Web Profesional" />
	<meta property="og:description" content="En Turin.dev creamos sitios web modernos, rápidos y optimizados. Agencia de desarrollo web con soluciones en diseño, frontend, backend y SEO." />
	<meta property="og:image" content="/images/main.jpg" />
	<meta property="og:url" content="https://turin.dev/" />
	<meta property="og:type" content="website" />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Turin.dev | Agencia de Desarrollo Web Profesional" />
	<meta name="twitter:description" content="En Turin.dev creamos sitios web modernos, rápidos y optimizados. Agencia de desarrollo web con soluciones en diseño, frontend, backend y SEO." />
	<meta name="twitter:image" content="/images/main.jpg" />

	<meta name="theme-color" content="#000000" />

  </head>
  <body class="bg-zinc-950 text-white min-h-screen">
    <slot />
    <script src="../assets/js/main.js"></script>
  </body>
</html>

<style>
  body {
    background-color: #09090b; /* zinc-950 */
    color: #ffffff;
    min-height: 100vh;
  }
</style>
